<!DOCTYPE html>
<html lang="en"  th:replace="~{fragments/fragment :: parent(~{::#home},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <title>Smart Contact Manager</title>
</head>
<body>

<div id="home">


    <h1 class="text-blue-800" th:text="${ProjectName}"></h1>

    <p>The owner of the projects : <span th:text="${name}"></span> </p>

    <a th:href="${gitHub}">Click here to go My GitHub</a>

    <p>This is a contact manager web application to make your
        contact easy to save and import to the Excel and pdf as like you want. </p>
</div>


<script>

</script>

</body>
</html>